<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.journalapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.Journalapi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Journal+"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".profileofficial"></activity>
        <activity android:name=".resetmailsent" />
        <activity android:name=".passwordreset" />
        <activity android:name=".journallistofficial" />
        <activity android:name=".Addjournalofficial" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".Journallist" />
        <activity
            android:name=".Addjournal"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Signup" />
        <activity android:name=".splashscreen" />
        <activity android:name=".Login" />
        <activity android:name=".primarysplashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>